# Ignore the virtual environment
venv/
env/
.env

# Ignore compiled python files
__pycache__/
*.pyc

# Ignore Excel/CSV reports and roster raw files
*.csv
*.xlsx
rosters_and_archives/
data/
backups/

# Ignore databases
*.db